@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root{
    --primary-color: #7e22ce;
    --secondary-color:#0c4a6e;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/** container **/
.container{
    paddding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}
/** Links **/
.links{
    text-decoration:none;
    padding:0.5rem 1rem;
}
.primary-link{ background-color: #7e22ce ;
    color:var(--primary-color);
    border-radius: 0.5rem;
    color:azure 
    
}
.link-secondary{
    
    color: 700
    #7e22ce;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}
/**look into BEM naming convection for css **/
